a[href*="//"]:not([href*="starcruiserguide.com"]):not([href*="github.com/parzivail"]):after {
	font-family: Icons;
	content: "\f35d";
	font-size: 60%;
	color: #ccc;
	padding-left: 4px;
	font-weight: normal;
	vertical-align: top;
}