<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
  <script type="text/javascript" href="{{ site.baseurl }}/assets/semantic.min.js"></script>

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />
</head>

<body>
  <div class="ui inverted menu">
    <div class="ui container">
      <a href="{{ site.baseurl }}/" class="header item">
        <img class="logo" src="{{ site.avatar }}">
        {{ site.name }}
      </a>
      <a class="header right item" href="{{ site.baseurl }}/feed.xml"><i class="rss icon"></i></a>
      <a class="header right item" href="https://github.com/{{ site.footer-links.github }}"><i class="github icon"></i></a>
    </div>
  </div>

  <div class="ui main text container">
    <div class="ui left dividing rail">
      <div class="ui segment">
        <div class="ui vertical menu">
          <div class="item">
            <div class="header">Posts</div>
            <div class="menu">
              {% for post in site.posts %}
              <a class="item" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ content }}
  </div>
</body>

</html>